@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=News+Cycle&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Archivo Narrow', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.header{
  width: 100vw;
  min-height: 100vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__logo{
    width: 100%;
    height: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    &--img{
      height: 90%;
    }
  }
  &__content{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    &--link{
      text-decoration: none;
    }
    &--box{
      width: 50vw;
      height: 80vw;
      background: white;
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 30px;
      position: relative;
      z-index: 1;
      
      &-text{
        width: 100%;
        text-align: center;
        font-size: 1.1em;
        letter-spacing: 2px;
        padding: 1vw;
        font-weight: bold;
        z-index: 5;
        margin-top: 5px;
        // background-color: rgba(0, 0, 0, 0.548);
      }
      // &--box::before{
      //   content: "";
      //   position: absolute;
      //   width: 100%;
      //   height: 100%;
      //   top: 80px;
      //   left: 30px;
      //   background-color: red;
      //   z-index: 6;
      // }
      &-image{
        width: 50vh;
        height: 100%;
        // padding: 30px;
      }
      &-news{
        background-image: url('/assets/img/news.jpg');
        background-size: cover;
      }
      &-groups{
        background-image: url('/assets/img/groups.jpg');
        background-size: cover;
      }
      &-fb{
        background-image: url('/assets/img/socialsbg.jpg');
        background-size: cover;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
      &-yt{
        background-image: url('/assets/img/socialsbg.jpg');
        background-size: cover;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
      &-socials{
        width: 30vw;
        height: 30vw;
        margin-top: 50px;
      }
    }
    .header__content--box::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0);
      z-index: 2;
      opacity: .6;
    }
    .header__content--box:hover::before{
      opacity: 0;
    }
    &--box:hover{
      cursor: pointer;
    }
    &--box-news:hover{
      background: rgb(199, 139, 27);
    }
    &--box-groups:hover{
      background: rgb(31, 165, 53);
    }
    &--box-fb:hover{
      background: $fb;
    }
    &--box-yt:hover{
      background: $yt;
    }
  }
}
// Podstrona ZESPOŁY
.groups{
  width: 100%;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  &__header{
    &--title{
      margin: 0;
      text-align: center;
      padding: 5vw;
    }
    // &--subtitle{
    //   text-align: center;
    //   padding: 1vw;
    //   font-size: 1.2em;
    // }
  }
}
.football{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    &--box{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgb(230, 22, 22);
      // min-width: 40vw;
      padding: 2vw;
      width: 80vw;
      height: 50vw;
      margin-bottom: 4vw;
      color: white;
      
      &-button{
        background-color: #fff;
        border: none;
        color: rgb(31, 31, 31);
        padding: 3vw;
        font-size: .7em;
      }
    }
    &--box:nth-child(2n+1){
      background-color: rgb(14, 14, 202);
    }
  }
}
.athletics{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 23, 85);
  flex-direction: column;
  &__subtitle{
    color: white;
  }
  &__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    &--box{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgb(230, 22, 22);
      // min-width: 40vw;
      padding: 2vw;
      width: 80vw;
      height: 50vw;
      margin-bottom: 4vw;
      color: white;
      font-weight: bold;
      &-button{
        background-color: rgb(23, 23, 85);
        border: none;
        color: white;
        padding: 3vw;
        min-width: 10vw;
        font-size: .7em;
      }
    }
    &--box:nth-child(2n+1){
      background-color: rgb(14, 14, 202);
    }
  }
}
//hamburger menu
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0);
  &__logo{
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 3vw;
    &--img{
      width: 100%;
      height: 100%;
      margin-right: 10vw;
      // padding: 10vw;
    }
  }
}
.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin-top: 5vw;
}

.hamburger, .navigation {
  transition: transform .3s .1s ease-in-out;
}

.hamburger--active {
  transform: translatex(65vw);
}

.hamburger__box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

@mixin hamburger-line {
  width: 100%;
  height: 3px;
  background-color: black;
  position: absolute;
}

.hamburger__inner{
  @include hamburger-line; 
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .1s .2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after{
  @include hamburger-line;
  
  content: '';
  left: 0;
  transition: transform .2s .2s ease-in-out;
} 

.hamburger__inner::before{
  top: -10px;
}

.hamburger__inner::after{
  top: 10px;
}

.hamburger--active .hamburger__inner{
  background-color: transparent;
}

.hamburger--active .hamburger__inner:before{
  transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after{
  transform: translateY(-10px) rotate(-45deg);
}

.navigation{
  height: 100vh;
  width: 82vw;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-82vw);
  &__list{
    margin-top: 50px;
    list-style: none;
  }
  &__item{
    margin-bottom: 20px;
    &--text{
      text-decoration: none;
      color: white;
    }
}
}

.navigation--active{
  transform: translateX(0px);
}

// .nav{
//   height: 100vh;
//   width: 60vw;
//   background-color: black;
//   position: absolute;
//   top: 0;
//   left: 0;
//   transform: translateX(-60vw);
//   &__list{
//     margin-top: 50px;
//     list-style: none;
//   }
//   &__item{
//     margin-bottom: 20px;
//     &--text{
//       text-decoration: none;
//       color: black;
//     }
// }
// }
.nav{
  display: none;
  width: 80vw;
  &__list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
  }
  &__item{
    &--text{
      text-decoration: none;
      font-size: 1em;
    }
    &--text:hover{
      cursor: pointer;
      color: rgb(211, 124, 43);
    }
  }
} 


// Aktualności

.info{
  padding: 2vw;
  &__title{
    text-align: center;
  }
  &__box{
    width: 100vw;
    // min-height: 50vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--img{
      width: 60vw;
      height: 60vw;
    }
    &--description{
      &-data{
        color: grey;
      }
      &-title{
        font-size: 1.6em;
      }
      &-button{
        padding: 2.5vw;
        border: none;
        // background-color: rgb(227, 227, 230);
        background-color: black;
        color: rgb(211, 124, 43);
        font-weight: bold;
      }
    }
  }
}
//Footer
.footer{
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  &__box{
    padding: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--icon{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 20%;
      &-img{
        width: 100%;
        height: 100%;
      }
    }
    &--subtitle{
      color: rgb(211, 124, 43);
      font-weight: bold;
    }
    &--text{
      color: white;
      text-align: center;
    }
  }
}
@media (min-width:0px){
  .header{
    width: 100vw;
    &__logo{
      height: 30vw;
    }
    &__content{
      &--box{
        width: 78vw;
        height: 90vw;
        font-size: 1em;
      }
    }
  }
}
@media (min-width:300px){
  .header{
    &__logo{
      height: 30vw;
    }
    &__content{
      &--box{
        width: 78vw;
        height: 90vw;
        font-size: 1.7em;
        &-socials{
          width: 30vw;
          height: 30vw;
          margin-top: 30vw;
        }
      }
    }
  }
}
@media (max-width:300px){
  .header{
    &__logo{
      height: 30vw;
    }
    &__content{
      &--box{
        width: 78vw;
        height: 90vw;
        font-size: 1em;
        // &-socials{
        //   width: 30vw;
        //   height: 30vw;
        // }
      }
    }
  }
}
@media (min-width:490px){
  .football{
    &__container{
      &--box{
        width: 60%;
        
      }
    }
  }
  .athletics{
    &__container{
      &--box{
        width: 60%;
      }
    }
  }
}
// @media (max-width:700px){
//   .header{
//     &__logo{
//       height: 30vw;
//     }
//     &__content{
//       &--box{
//         width: 80vw;
//         height: 90vw;
//         font-size: 6em;
//         &-socials{
//           width: 50vw;
//           height: 50vw;
//         }
//       }
//     }
//   }
 
@media (min-width:515px){
  .football{
    &__container{
      &--box{
        font-size: 1.3em;
        width: 50vw;
        height: 35vw;
        margin-left: .5vw;
      }
    }
  }
  .athletics{
    &__container{
      &--box{
        font-size: 1.3em;
        width: 50vw;
        height: 35vw;
        margin-left: .5vw;
      }
    }
  }
}
@media (min-width:715px){
  .header{
    &__logo{
      height: 40vw;
    }
    &__content{
      flex-direction: row;
      &--box{
        margin-top: 40px;
        width: 20vw;
        height: 30vw;
        &-socials{
          width: 10vw;
          height: 10vw;
          margin-top: 8vw;
        }
        
        &-text{
          // width: 100%;
          font-size: .8em;
        }
      }
    }
  }
  .hamburger,.navigation{
    display: none;
  }
  .menu{
    &__logo{
      &--img{
        margin: 0;
      }
    }
  }
  .nav{
    display: block;
  }
  .info{
    width: 60vw;
    &__title{
      font-size: 2em;
    }
    &__box{
      flex-direction: row;
      justify-content: space-around;
      width: 60vw;
      border-bottom: 1px solid rgb(211, 210, 210);
      &--img{
        width: 15vw;
        height: 15vw;
      }
      &--description{
        &-button{
          padding: 1vw;
        }
      }
    }
  }
  .footer{
    flex-direction: row;
  }
}
@media (min-width:1000px){
  .header{
    &__logo{
      height: 15vw;
    }
    &__content{
      flex-direction: row;
      &--box{
        margin-top: 0;
        width: 20vw;
        // height: 10vw;
        font-size: 2em;
      }
    }
  }
  .football{
    &__container{
      &--box{
        font-size: 1.3em;
        width: 40vw;
        height: 15vw;
        margin-left: .4vw;
        &-button{
          padding: .8vw;
        }
      }
    }
  }
  .athletics{
    &__container{
      &--box{
        font-size: 1.3em;
        width: 44vw;
        height: 15vw;
        margin-left: 2vw;
        &-button{
          padding: .8vw;
        }
      }
    }
  }
  
}
// @media (min-width:1030px){
  // .header{
  //   &__logo{
  //     // height: 15vw;
  //   }
  //   &__content{
  //     // flex-direction: row;
  //     &--box{
  //       // margin-top: 0;
  //       // width: 20vw;
  //       // height: 30vw;
  //       font-size: 1em;
  //     }
  //   }
  // }
// }
@media (min-width:1248px){
  .header{
    &__content{
      &--box{
        font-size: 2.1em;
        // height: 10vh;
        &-text{
          font-size: .8em;
        }
      }
    }
  }
  .football{
    &__container{
      &--box{
        font-size: 1.3em;
        width: 22.4vw;
        height: 15vw;
        margin-left: .4vw;
        &-button{
          padding: .8vw;
        }
      }
    }
  }
  .athletics{
    &__container{
      &--box{
        font-size: 1.3em;
        width: 44vw;
        height: 15vw;
        margin-left: 2vw;
        &-button{
          padding: .8vw;
        }
      }
    }
  }
  .menu{
    &__logo{
      width: 10vw;
      height: 10vw;
    }
  }
  .nav{
    &__item{
      &--text{
        font-size: 1.3em;
      }
    }
  } 
}

@media (min-width:1430px){
  .header{
    &__content{
      // flex-direction: row;
      &--box{
        // margin-top: 0;
        // width: 20vw;
        // height: 30vw;
        font-size: 2.2em;
      }
    }
  }
  .football{
    &__container{
      &--box{
        font-size: 1.3em;
        width: 23vw;
        height: 15vw;
        margin-left: 1vw;
        &-button{
          padding: .8vw;
        }
      }
    }
  }
  .athletics{
    &__container{
      &--box{
        font-size: 1.3em;
        width: 44vw;
        height: 15vw;
        margin-left: 2vw;
        &-button{
          padding: .8vw;
        }
      }
    }
  }
}
@media (min-width:2030px){
  .header{
    &__content{
      // flex-direction: row;
      &--box{
        // margin-top: 0;
        // width: 20vw;
        // height: 30vw;
        font-size: 3em;
      }
    }
  }
}

@media (min-width:2530px){
  .header{
    &__content{
      // flex-direction: row;
      &--box{
        // margin-top: 0;
        // width: 20vw;
        // height: 30vw;
        font-size: 3em;
        // &-text{
          
        // }
      }
    }
  }
}

