@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.header{
  width: 100%;
  min-height: 100vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__logo{
    width: 100%;
    height: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    &--img{
      height: 90%;
    }
  }
  &__content{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    &--box{
      width: 50vw;
      height: 80vw;
      background: white;
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 3em;
      margin-bottom: 30px;
      &-text{
        padding: 3vw;
        font-weight: bold;
        z-index: 5;
      }
      &-image{
        width: 50vh;
        height: 100%;
        // padding: 30px;
      }
      &-senior{
        background-image: url('/assets/img/academy.jpg');
        background-size: cover;
      }
      &-junior{
        background-image: url('/assets/img/academy.jpg');
        background-size: cover;
      }
      &-fb{
        background-image: url('/assets/img/socialsbg.jpg');
        background-size: cover;
      }
      &-yt{
        background-image: url('/assets/img/socialsbg.jpg');
        background-size: cover;
      }
    }
    
    &--box:hover{
      cursor: pointer;
    }
    &--box-senior:hover{
      background: rgb(199, 139, 27);
    }
    &--box-junior:hover{
      background: rgb(31, 165, 53);
    }
    &--box-fb:hover{
      background: rgb(52, 16, 150);
    }
    &--box-yt:hover{
      background: rgb(180, 21, 21);
    }
  }
}
@media (max-width:300px){
  .header{
    &__logo{
      height: 30vw;
    }
    &__content{
      &--box{
        width: 78vw;
        height: 90vw;
        font-size: 1em;
      }
    }
  }
}
@media (max-width:700px){
  .header{
    &__logo{
      height: 30vw;
    }
    &__content{
      &--box{
        width: 80vw;
        height: 90vw;
        font-size: 2em;
      }
    }
  }
}
@media (min-width:700px){
  .header{
    &__logo{
      height: 40vw;
    }
    &__content{
      flex-direction: row;
      &--box{
        margin-top: 40px;
        width: 20vw;
        height: 30vw;
        font-size: 1.5em;
      }
    }
  }
}
@media (min-width:1000px){
  .header{
    &__logo{
      height: 15vw;
    }
    &__content{
      flex-direction: row;
      &--box{
        margin-top: 0;
        width: 20vw;
        height: 30vw;
        font-size: 2em;
      }
    }
  }
}
